<section class="breadcrumbs-section pad-t-20 pad-r-20">
    <div class="container">
        <ul>
            <li>
                <a routerLink="">
                    <i class="fa fa-home"></i>
                </a>
                <i class="fa fa-long-arrow-right mar-l-10 mar-r-10 arrow"></i>
            </li>
            <li>Albums</li>
        </ul>
    </div>
</section>


<section class="albums-section mar-t-150">
    <div class="section-title">
        <h2>All albums</h2>
    </div>
    <div class="container">
        <div class="albums-list loading relative">
            <div class="no-items bg-white d-flex align-items-center" *ngIf="albums && albums.length == 0">
                <h6 class="text">No albums</h6>
            </div>
            <div class="bg-white" *ngIf="albums && albums.length > 0">
                <app-album-item [albums]="albums"></app-album-item>
            </div>
        </div>
        <div class="text-center mar-t-70" *ngIf="hasNextPage">
            <button class="btn action-button upper rounded border-blue
                pad-t-10 pad-b-10 pad-l-30 pad-r-30" (click)="loadAlbums()" [disabled]="loadButtonClicked">
                {{ loadButtonClicked ? "Loading..." : "Load more" }}
            </button>
        </div>
    </div>
</section>